body {
    background-color: #ddd;
    margin-top: 20px;
    .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    button {
        margin-right: 15px;
    }
    img {
        width: 60px;
        margin: 10px;
    }
}
