
body {
    margin-top: 20px;
}
header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}

button {
    margin-right: 15px;
}

.icon {
    display: inline-block;
    background-image: url("./assets/images/logo.png");
    width: 80px;
    height: 80px;
    background-size: cover;
}

